.sidebar{
    padding: 10px;
    width: 260px;
    /*width: 13%;*/
    background-color: #18181b;
    height:100%;
    color: aliceblue;
    display: inline-block;
    position: absolute;
    left: 0;
    border-right: 1px solid white;
}

.sidebar>h5{
    margin-top: 25px;
    margin-bottom: 15px;
}

.channel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.channel-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.channel_details_left{
    display: flex;
    flex: 1;
}


.channel_profile_image{
    object-fit: contain;
    width:40px;
    margin-right: 5px;
    padding-top: 5px;
    border-radius: 50%;
}

.channel_profile_image_offline{
    object-fit: contain;
    width:40px;
    margin-right: 5px;
    padding-top: 5px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.channel_details_username{
    padding-right: 5px;
}

.channel-username{
    padding-top: 13px;
}

.channel-username-offline{
    padding-top: 13px;
    color:grey;
}

.category-streamed{
    color:grey;
    font-size: small;
}

.channel_details_right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.offline-{
    color:grey;
    font-size: small;
}

.live-circle-icon{
    padding-right: 5px;
    padding-top: 5px;
    font-size: 8px;
}

.viewer-count-text{
    font-size: 1rem;
}
.sidebar_top_Show_more{
    color: blueviolet;
}