*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

header{
    height: 4rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #18181b;
    z-index: 100;
    position: sticky;
    top: 0;
    justify-content: space-between;
    color: aliceblue;
}

.header_left{
    display: flex;
    flex: 1;
}

.header_left_container{
    display: flex;
    align-items: center;
}

.header_left_logo{
    object-fit: contain;
    height: 3rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

.h2_browse_container{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header_mid{
    display: flex;
    width:25%;
}

.search-container{
    flex:1
}

#search-input{
    height: 2rem;
    background-color: #4a4a4c;;
    width: 100%;
    font-size: large;
    color: aliceblue;
}

.search-icon-container{
    padding-left: 10px;
    padding-top: 7px;
}

.header_right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header_right_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right_container>i{
    margin: 10px;
}

.header_right_container>div{
    margin: 10px;
}

.header_right_bits{
    display: flex;
    align-items: center;
    background-color: #4a4a4c;
    height: 2.5rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.header_right_bits>i{
    margin-right: 5px;
}

.header_profile_image{
    object-fit: contain;
    height: 3rem;
    margin-right: 20px;
    padding-top: 5px;
    border-radius: 50%;
}